__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
PIPFILE.lock
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.env
.venv
env/
venv/
ENV/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
outputs/
reports/
*.pkl
*.joblib
.ipynb_checkpoints/
.streamlit/
